* {
	border: 1px solid blue;
}

.users, .right-header, .left-header{
	display: inline-block;
}

.myNameUser, .myImageUser {
	display: inline-block;
}

.header {
	text-align: center;
	height: 30%;
}

.left-header {
	/*text-align: center;*/
	width: 48%;
}

.menu li {

}

.right-header {
	text-align: right;
	width: 48%;
}

.toolsCanvas {
	display: inline-block;
	width: 25px;
}

.drawingCanvas {
	display: inline-block;
}

.main {
	display: inline-flex;	
}

.menu {
	display: inline-block;
	text-align: right;
}

.myUser {
	width: 30%;
}

.icon-star-empty, .icon-zoom-in, 
.icon-bin, .icon-eyedropper,
.icon-pencil2, .icon-font-size,
.icon-redo, .icon-undo, .icon-compass {
	display: flex;
	width: 50px;
}