/** {
	border: 1px solid blue;
}*/

.body  {
	border: 5px solid #990000;
	padding: 30px 30px 30px 30px;
	font-family: 'Hi Melody', cursive;
}

.myNameUser {
	font-size: 50px;
}

.drawingCanvas {
	margin-left: 20px;
}

.users img {
	border: 2px solid black;
	padding: 3px;
	margin: 3px;
}

.users h3 {
	text-align: center;
}

.users, .right-header, .left-header, .menu{
	display: inline-block;
}

.myNameUser, .myImageUser {
	display: inline-block;
}

.header {
	text-align: center;
	height: 30%;
	border: 2px dotted black;
	margin-bottom: 30px;
}

.left-header {
	/*text-align: center;*/
	width: 48%;
}

.right-header {
	text-align: right;
	width: 48%;
}

.toolsCanvas {
	display: inline-block;
	width: 35px;
	border: 2px solid black;
	padding: 10px;
}

.drawingCanvas {
	display: inline-block;
	width: 700px;	
	height: 700px;
	border: 2px solid black;
}

.main {
	display: inline-flex;	
}

ul, span {
	list-style-type: none;
}

.menu {
	display: inline-block;	
	text-align: right;
}

.myUser {
	width: 30%;
}

.toolBtns {
	display: list-item;
	font-size: 32px;
}
