* {
	border: 1px solid blue;
}

.users, .right-header, .left-header{
	display: inline-block;
}

.myNameUser, .myImageUser {
	display: inline-block;
}

.header {
	text-align: center;
	height: 30%;
}

.left-header {
	/*text-align: center;*/
	width: 48%;
}

.menu li {

}

.right-header {
	text-align: right;
	width: 48%;
}

.toolsCanvas {
	width: 10%;
}

.drawingCanvas {
	width: 88%;
}

.main {
	height: 70%;
}

.menu {
	display: inline-block;
	text-align: right;
}

.myUser {
	width: 30%;
}

.icon-compass:before {
	content: "\e949";
}