/** {
	border: 1px solid blue;
}*/

.body  {
	border: 5px solid #990000;
	padding: 30px 30px 30px 30px;
	font-family: 'Hi Melody', cursive;
}

.myNameUser {
	font-size: 50px;
}

.drawingCanvas {
	margin-left: 20px;
}

.users h3 {
	text-align: center;
}

.users, .right-header, .left-header, .menu{
	display: inline-block;
}

.myNameUser, .myImageUser {
	display: inline-block;
	text-align: center;	
}

.myImageUser {
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.header {
	/*text-align: center;*/
	height: 30%;
	border: 5px dotted black;
	margin-bottom: 30px;
}

.left-header {
	/*text-align: center;*/
	width: 40%;
	height: 15%;
	vertical-align: bottom;
}

.right-header {
	text-align: center;
	width: 40%;
	vertical-align: middle;
	
}

.right-header img {
	border: 2px solid black;
	padding: 3px;
	margin: 3px;
}

.toolsCanvas {
	display: inline-block;
	width: 35px;
	border: 2px solid black;
	padding: 10px;
}

.drawingCanvas {
	display: inline-block;
	width: 700px;	
	height: 700px;
	border: 2px solid black;
}

.main {
	display: inline-flex;	
}

ul, span {
	list-style-type: none;
}

.menu {
	float: right;
	vertical-align: middle;
}

.toolBtns {
	display: list-item;
	font-size: 32px;
	padding: 7px 0 7px 0;
}

.toolBtns:hover {
	border: 1px solid #990000;
}

.btnSelected {
	background: red;
}
